.glitchdotcom.json
.node-gyp
.env
.config
.bash_history
node_modules
dist
.config
.data
/dist
.viminfo
.idea
.DS_Store
venv/
/fedcm/caddy.log
/fedcm/node_modules
/fedcm/.env
/fedcm/fedcm-idp-demo/.data
/fedcm/fedcm-another-idp-demo/.data