<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.glitch.global/3fefe35b-bbb3-4e52-b0f1-f94d09bc62e4/favicon.ico?v=1709751697719" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Shared Storage Header Demo Alternate Origin</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    
    <!-- this is the start of content -->
    <h1>Shared Storage HTTP Response Header Demo Alternate Origin</h1>
    
    <h3>
      <p>
        This sub-project hosts server-side code for part of the <a href="https://shared-storage-header-demo.glitch.me/">Shared Storage Header Demo</a>. 
      </p>
      <p>
        It serves the main demo's cross-origin requests.
      </p>
    </h3>
    
    <img src="https://cdn.glitch.global/3fefe35b-bbb3-4e52-b0f1-f94d09bc62e4/cat-greetings.webp?v=1710214188606" alt="Fluffy blond cat greeting human"/>
    <script src="/dark-mode"></script>
  </body>
</html>
