<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.glitch.global/3fefe35b-bbb3-4e52-b0f1-f94d09bc62e4/favicon.ico?v=1709751697719" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Shared Storage Header Demo for Iframe Tag</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/inner-style.css" />   
  </head>
  <body>
    
    <!-- this is the start of content -->
    <h1>
      Demo for Iframe Tag
    </h1>
    
    <p>
      <img src="https://cdn.glitch.global/3fefe35b-bbb3-4e52-b0f1-f94d09bc62e4/cat-headstand.webp?v=1709746059146" alt="Fluffy blonde cat standing on her head next to a computer display with lines of code on it"/>
    </p>
    <script src="/dark-mode"></script>
  </body>
</html>