<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.glitch.global/3fefe35b-bbb3-4e52-b0f1-f94d09bc62e4/favicon.ico?v=1709751697719" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Shared Storage Header Demo: from image retrieved via fetch</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css"/>
    <script src="/code-box"></script>
  </head>
  <body>
    
    <!-- this is the start of content -->

    <h2>
      Writing to shared storage from an image retrieved by fetch()
    </h2>
    <h3>
      Header sent: 
      <br><code-box>Shared-Storage-Write: {{rawSharedStorageHeaderValue}}</code-box>
    </h3>
    <div id="image-container"></div>
    <script id="main">      
      const imageContainer = document.getElementById('image-container');
      fetch('/imagefetch?write={{encodedSharedStorageHeaderValue}}', {sharedStorageWritable: true})
        .then(response => response.blob())
        .then(imageBlob => {
          const imageObjectURL = URL.createObjectURL(imageBlob);
          const image = document.createElement('img'); 
          image.src = imageObjectURL; 
          image.alt = "Fluffy blonde cat with paw on a computer mouse that is whimsically decorated as an animal mouse, complete with mouse tail and mouse paws";
          imageContainer.appendChild(image);
        })
        .catch(error => {
          console.error('Error fetching image:', error);
      });
    </script>
    
    <h3>
      Client JavaScript:
      <br id="breakForCode"><script>displayScriptInCodeBoxAfterElement('main', 'breakForCode');</script>
    </h3>
    <script src="/dark-mode"></script>
  </body>
</html>
